* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
}

header {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  position: fixed;
  z-index: 200;
  top: 0;
}
header .HeaderLeft {
  width: 25%;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}
header .HeaderLeft .Title {
  width: 120px;
  height: 90px;
  border: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}
header .HeaderLeft .Title a {
  font-family: raleway;
  text-align: center;
  font-weight: 200;
  font-size: 25px;
}
header .HeaderRight {
  width: 75%;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .HeaderRight .HeaderRightList {
  height: 125px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  padding-left: 10%;
  padding-right: 20px;
}
header .HeaderRight .HeaderRightList a {
  font-size: 20px;
  font-style: italic;
  transition: 0.5s;
}
header .HeaderRight .HeaderRightList a:hover {
  color: gray;
}
header .HeaderRight #check {
  display: none;
}
header .HeaderRight .Burger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  position: fixed;
  z-index: 990;
  right: 30px;
  top: 55px;
  transition: 1s;
}
header .HeaderRight .Burger .LineB {
  width: 30px;
  height: 3px;
  background-color: black;
  border-radius: 5px;
  transition: 0.5s;
}
header .HeaderRight .Burger .LineB .Line3 {
  transition: 0.5s;
}
header .HeaderRight .HeaderRightList2 {
  display: none;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .HeaderRight .HeaderRightList2 ul {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding-left: 30px;
  padding-bottom: 110px;
  font-style: italic;
  overflow: scroll;
}

@media screen and (max-width: 700px) {
  header {
    position: relative;
  }
  header .HeaderLeft {
    width: 75%;
    padding-left: 5%;
    justify-content: start;
  }
  header .HeaderLeft .Title {
    width: 80px;
    height: 60px;
  }
  header .HeaderLeft .Title a {
    font-size: 16px;
  }
  header .HeaderRight {
    width: 25%;
    padding-right: 30px;
  }
  header .HeaderRight .HeaderRightList {
    display: none;
  }
  header .HeaderRight .Burger {
    position: absolute;
    display: flex;
  }
  header .HeaderRight .HeaderRightList2 {
    display: none;
    width: 90%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
  }
  header .HeaderRight #check {
    display: none;
  }
  header .HeaderRight #check:checked ~ .HeaderRightList2 {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .HeaderRight #check:checked ~ label .Burger .LineB {
    transform: rotate(45deg) translate(5px);
    transition: 0.5s;
  }
  header .HeaderRight #check:checked ~ label .Burger .Line2 {
    transform: rotate(-45deg) translate(5px);
    transition: 0.5s;
  }
  header .HeaderRight #check:checked ~ label .Burger .Line3 {
    display: none;
    transition: 0.5s;
  }
}
main {
  margin-top: 125px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: josefin sans;
  font-weight: 200;
  padding-bottom: 20px;
}
main .mainparent {
  width: 62%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 70px;
  border: solid gray 1px;
}
main .mainparent .admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .mainparent .admin .adminparent {
  display: flex;
  gap: 10px;
  align-items: center;
}
main .mainparent .admin .adminparent i {
  font-size: 22px;
}
main .mainparent .admin .adminparent .adminleft {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .mainparent .maintitle {
  font-size: 42px;
  font-weight: 300;
}
main .mainparent #aftertitle {
  font-size: 20px;
  font-weight: 400;
}
main .mainparent img {
  width: 100%;
}
main .mainparent .p1 {
  font-size: 20px;
}
main .mainparent .p2parent :nth-child(1) {
  font-size: 20px;
  font-weight: 400;
}
main .mainparent .p2parent :nth-child(2) {
  font-size: 20px;
}
main .mainparent .p3parent :nth-child(1) {
  font-size: 20px;
  font-weight: 400;
}
main .mainparent .p3parent :nth-child(2) {
  font-size: 20px;
}
main .mainparent .p4parent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .mainparent .p4parent #stun {
  font-size: 20px;
  font-weight: 400;
}
main .mainparent .p4parent .lineparent {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .mainparent .p4parent .lineparent .line {
  width: 3px;
  height: 40px;
  background-color: black;
}
main .mainparent .p4parent .lineparent #be {
  font-size: 24px;
  font-style: italic;
}
main .mainparent .p4parent #text {
  font-size: 20px;
}
main .mainparent .p5parent :nth-child(1) {
  font-size: 20px;
  font-weight: 400;
}
main .mainparent .p5parent :nth-child(2) {
  font-size: 20px;
}
main .mainparent .mainline2 {
  width: 100%;
  height: 1px;
  background-color: gray;
}
main .mainparent .socials {
  display: flex;
  gap: 30px;
}
main .mainparent .mainline3 {
  width: 100%;
  height: 1px;
  background-color: gray;
}
main .mainparent .coments {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .mainparent .coments .comentsparent {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: josefin sans;
  font-weight: 200;
}
main .mainparent .coments .comentsparent .secondcomment {
  display: none;
}
main .mainparent .coments .heart {
  color: red;
}

@media screen and (max-width: 900px) {
  main .mainparent {
    padding: 30px 20px;
  }
  main .mainparent .maintitle {
    font-size: 30px;
  }
  main .mainparent .admin .adminparent {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  main .mainparent {
    width: 100%;
    border: none;
  }
  main .mainparent .admin .adminparent .adminleft {
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }
  main .mainparent .coments .comentsparent {
    gap: 30px;
  }
  main .mainparent .coments .comentsparent .firstcomment {
    display: none;
  }
  main .mainparent .coments .comentsparent .secondcomment {
    display: flex;
    gap: 10px;
  }
}
.firstsection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.firstsection .sectiontop {
  width: 62%;
  display: flex;
  justify-content: space-between;
}
.firstsection .sectionbottom {
  width: 62%;
  display: flex;
  gap: 2%;
}
.firstsection .sectionbottom .bottomleft {
  display: flex;
  flex-direction: column;
  border: gray solid 1px;
  width: 32%;
}
.firstsection .sectionbottom .bottomleft .bottom {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.firstsection .sectionbottom .bottomleft .sectionline {
  width: 100%;
  height: 1px;
  background-color: gray;
}
.firstsection .sectionbottom .bottommiddle {
  display: flex;
  flex-direction: column;
  border: gray solid 1px;
  width: 32%;
}
.firstsection .sectionbottom .bottomright {
  display: flex;
  flex-direction: column;
  border: gray solid 1px;
  width: 32%;
}

footer {
  width: 100%;
  background-color: #2f2e2e;
  display: flex;
  justify-content: space-between;
  padding-bottom: 260px;
}
footer .FooterLeft {
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
}
footer .FooterLeft .FooterLeftChild {
  display: flex;
  justify-content: start;
  align-items: start;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 10px;
}
footer .FooterLeft .FooterLeftChild p {
  font-family: bodoni moda;
  font-weight: 300;
  color: white;
  width: 120px;
  font-size: 50px;
  font-style: italic;
  line-height: 1;
}
footer .FooterMiddle {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
footer .FooterMiddle .FooterMidleChild {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .FooterMiddle p {
  font-family: josefin sans;
  font-weight: 200;
  width: 350px;
  color: white;
  font-size: 16px;
}
footer .FooterRight {
  width: 30%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 20px;
  padding-top: 105px;
  padding-left: 10px;
}
footer .FooterRight i {
  color: white;
}
footer .arrowup {
  display: none;
}
footer .arrowup i {
  display: none;
}

@media screen and (max-width: 800px) {
  footer {
    flex-direction: column;
    padding-bottom: 30px;
  }
  footer .FooterLeft {
    width: 100%;
    justify-content: center;
    order: -3;
  }
  footer .FooterLeft .FooterLeftChild {
    padding-right: 0px;
    padding-left: 0px;
  }
  footer .FooterMiddle {
    order: 1;
    padding-top: 30px;
    padding-left: 10px;
    width: 100%;
    justify-content: center;
  }
  footer .FooterMiddle .FooterMidleChild {
    gap: 10px;
    line-height: 1.8;
  }
  footer .FooterMiddle .FooterMidleChild p {
    font-size: 18px;
  }
  footer .FooterMiddle .FooterMidleChild :nth-child(1) {
    width: 300px;
  }
  footer .FooterMiddle .FooterMidleChild :nth-child(2) {
    width: 280px;
  }
  footer .FooterMiddle .FooterMidleChild :nth-child(3) {
    width: 255px;
  }
  footer .FooterRight {
    order: -1;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    padding-left: 0px;
    gap: 20px;
  }
}
@media screen and (max-width: 700px) {
  main {
    margin-top: 0;
  }
  footer .arrowup {
    position: fixed;
    right: 15px;
    bottom: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .arrowup i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #202a32;
    font-size: 30px;
    color: white;
    border-radius: 50%;
  }
}
@media screen and (max-width: 450px) {
  footer .FooterLeft {
    justify-content: start;
    padding-left: 20px;
  }
  footer .FooterMiddle {
    justify-content: start;
    padding-left: 20px;
  }
  footer .FooterRight {
    justify-content: start;
    padding-left: 20px;
  }
}/*# sourceMappingURL=news2.css.map */