* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: yellowgreen;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .mycarousel {
    width: 50%;
  }
}


  .checkBox {
    background-color: yellowgreen;
    &:hover {
      background-color: aqua;
    }
  }

  #check {
    display: none;
    &:checked {
      display: inline;

      ~ main {
        .mycarousel {
          width: 80% ;
        }
      }
    }
  }

