* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  // background-color: yellowgreen;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 50%;
  }
}

.checkBox {
  // background-color: yellowgreen;
  position: fixed;
  left: 20px;
  top: 20px;

  .enter {
    cursor: pointer;
    font-size: 26px;
  }

  .exit {
    cursor: pointer;
    display: none;
    font-size: 26px;
  }
  &:hover {
    color: gray;
  }
}

#check {
  display: none;
  &:checked {
    ~ label {
      .enter {
        display: none;
      }
      .exit {
        display: flex;
      }
    }

    ~ main {
      img {
        width: 65%;
      }
    }
  }
}
body {
  a {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 26px;
    color: black;

    &:hover {
      color: gray;
    }
  }
}

@media screen and (max-width: 600px) {
  .checkBox {
    display: none;
  }

  main{
    img{
        width: 100%;
    }
  }
}
