* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
}
html {
  scroll-behavior: smooth;
}
.active {
  color: gray;
}
// header starts here/////////////////////////////////////////////////////////////////////////////////////
header {
  //   margin-top: 72px;
  width: 100%;
  // height: 125px;
  background-color: #ffffff;
  display: flex;
  position: fixed;
  z-index: 200;
  top: 0;

  .HeaderLeft {
    width: 25%;
    height: 125px;
    // background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;

    .Title {
      width: 120px;
      height: 90px;
      border: solid 1px black;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 5px;
      a {
        font-family: raleway;
        text-align: center;
        font-weight: 200;
        font-size: 25px;
      }
    }
  }
  .HeaderRight {
    width: 75%;
    height: 125px;
    // background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;

    .HeaderRightList {
      height: 125px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      //   gap: 70px;
      gap: 10%;
      padding-left: 10%;
      padding-right: 20px;
      a {
        font-size: 20px;
        font-style: italic;
        transition: 0.5s;
        &:hover {
          color: gray;
        }
      }
    }
    #check {
      display: none;
    }
    .Burger {
      display: none;
      flex-direction: column;
      gap: 4px;
      cursor: pointer;
      position: fixed;
      z-index: 990;
      right: 30px;
      top: 55px;
      transition: 1s;

      .LineB {
        width: 30px;
        height: 3px;
        background-color: black;
        border-radius: 5px;
        transition: 0.5s;
        .Line3 {
          transition: 0.5s;
        }
      }
    }
    .HeaderRightList2 {
      display: none;

      background-color: #ffffff;

      flex-direction: column;
      justify-content: center;
      align-items: center;

      ul {
        height: 100vh;

        width: 100%;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        gap: 40px;
        padding-left: 30px;
        padding-bottom: 110px;
        font-style: italic;
        overflow: scroll;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  header {
    position: relative;
    .HeaderLeft {
      width: 75%;
      padding-left: 40px;
      justify-content: start;
      .Title {
        width: 80px;
        height: 60px;
        a {
          font-size: 16px;
        }
      }
    }
    .HeaderRight {
      width: 25%;
      padding-right: 30px;
      .HeaderRightList {
        display: none;
      }

      .Burger {
        position: absolute;
        display: flex;
      }

      .HeaderRightList2 {
        display: none;
        width: 90%;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
      }
      #check {
        display: none;

        &:checked {
          ~ .HeaderRightList2 {
            display: flex;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          ~ label {
            .Burger {
              .LineB {
                transform: rotate(45deg) translate(5px);
                transition: 0.5s;
              }
              .Line2 {
                transform: rotate(-45deg) translate(5px);
                transition: 0.5s;
              }
              .Line3 {
                display: none;
                transition: 0.5s;
              }
            }
          }
        }
      }
    }
  }
}

// header ends here////////////////////////////////////////////////////////////////////////////////////////

// main starts here//////////////////////////////////////////////////////////////////////////
main {
  margin-top: 125px;
  width: 100%;

  display: flex;
  flex-direction: column;

  .mainTop {
    padding-top: 100px;
    width: 100%;
    padding-bottom: 200px;

    display: flex;
    .topLeft {
      width: 48%;
      height: 100%;
      display: flex;
      justify-content: center;
      padding-left: 20px;
      p {
        font-style: italic;
        font-size: 80px;
      }
    }
    .topRight {
      width: 52%;
      height: 100%;
      padding-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      line-height: 1.4;
      font-family: josefin sans;
      font-weight: 200;
      font-size: 17px;
      :nth-child(1) {
        width: 505px;
      }
      :nth-child(2) {
        width: 515px;
      }
    }
  }
  .mainBottom {
    width: 100%;
    padding-bottom: 100px;

    display: flex;

    .bottomLeft {
      width: 48%;
      height: 100%;
      display: flex;
      justify-content: center;
      padding-left: 20px;
      p {
        width: 220px;
        font-size: 80px;
        font-style: italic;
      }
    }
    .bottomRight {
      width: 52%;
      height: 100%;
      padding-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      line-height: 1.4;
      font-family: josefin sans;
      font-weight: 200;
      font-size: 17px;
      :nth-child(1) {
        width: 515px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  main {
    .mainTop {
      flex-direction: column;
      justify-content: center;
      padding-bottom: 50px;
      padding-top: 60px;
      .topLeft {
        padding-left: 0px;
        width: 100%;
      }
      .topRight {
        width: 100%;
        display: flex;
        align-items: center;
      }
    }
    .mainBottom {
      flex-direction: column;
      justify-content: center;
      .bottomLeft {
        padding-left: 0px;
        width: 100%;

        p {
          width: 400px;
        }
      }
      .bottomRight {
        width: 100%;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  main {
    .mainTop {
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      .topLeft {
        justify-content: start;
        p {
          font-size: 33px;
        }
      }
      .topRight {
        align-items: start;
        :nth-child(1) {
          width: 100%;
        }
        :nth-child(2) {
          width: 100%;
        }
      }
    }
    .mainBottom {
      padding: 20px;
      .bottomLeft {
        justify-content: start;
        p {
          font-size: 33px;
        }
      }
      .bottomRight {
        align-items: start;
        :nth-child(1) {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  main {
    margin-top: 0px;
  }
}
// main ends here///////////////////////////////////////////////////////////////////////////////////////
.firstSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 150px;
  .sectionTop {
    width: 100%;
    // height: 50vh;

    display: flex;
    gap: 10%;
    justify-content: center;
    .sectionTopLeft {
      // width: 44%;
      // height: 50vh;

      display: flex;
      justify-content: end;
      align-items: center;

      .topLeftChild {
        // width: 60%;
        // height: 50vh;
        display: flex;
        gap: 40px;
        .img1 {
          width: 200px;
          height: 200px;
          background-image: url(./images/f61af8_6ba103b83a9940ab8db45e0d28486c1a~mv2_d_5616_3744_s_4_2.avif);
          background-position: center;
          background-size: cover;
        }
        .parent {
          width: 150px;
          display: flex;
          flex-direction: column;
          justify-content: end;
          gap: 10px;
          .sectionLine {
            height: 1px;
            width: 100%;
            background-color: black;
          }
        }
      }
    }
    .sectionTopRight {
      // width: 44%;
      // height: 50vh;

      display: flex;

      .topRightChild {
        display: flex;
        gap: 40px;
        .img2 {
          width: 200px;
          height: 200px;
          background-image: url(./images/f61af8_d6654f0fecfb46a1889408fa913c65f1~mv2_d_4827_7240_s_4_2.avif);
          background-size: cover;
          background-position: center;
        }
        .parent {
          width: 150px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: end;

          .sectionLine {
            width: 100%;
            height: 1px;
            background-color: black;
          }
        }
      }
    }
  }
  .sectionBottom {
    width: 100%;
    display: flex;
    gap: 10%;
    justify-content: center;
    padding-bottom: 150px;
    .sectionBottomLeft {
      display: flex;
      justify-content: end;
      align-items: center;
      .bottomLeftChild {
        display: flex;
        gap: 40px;
        .img3 {
          width: 200px;
          height: 200px;
          background-image: url(./images/f61af8_3fddcdb28ca34888a196bb739d90d0a9~mv2_d_3671_5500_s_4_2.avif);
          background-size: cover;
          background-position: center;
        }
        .parent {
          width: 150px;
          display: flex;
          flex-direction: column;
          justify-content: end;
          gap: 10px;

          .sectionLine {
            width: 100%;
            height: 1px;
            background-color: black;
          }
        }
      }
    }
    .sectionBottomRight {
      display: flex;
      .bottomRightChild {
        display: flex;
        gap: 40px;
        .img4 {
          width: 200px;
          height: 200px;
          background-image: url(./images/f61af8_8d2bc00251444595adfdda4764127c08~mv2_d_3272_4650_s_4_2.avif);
          background-size: cover;
          background-position: center;
        }
        .parent {
          width: 150px;
          display: flex;
          flex-direction: column;
          justify-content: end;
          gap: 10px;

          .sectionLine {
            width: 100%;
            height: 1px;
            background-color: black;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .firstSection {
    gap: 75px;
    .sectionTop {
      .sectionTopLeft {
        .topLeftChild {
          flex-direction: column;
        }
      }
      .sectionTopRight {
        .topRightChild {
          flex-direction: column;
        }
      }
    }
    .sectionBottom {
      .sectionBottomLeft {
        .bottomLeftChild {
          flex-direction: column;
        }
      }
      .sectionBottomRight {
        .bottomRightChild {
          flex-direction: column;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .firstSection {
    gap: 40px;
    .sectionTop {
      flex-direction: column;
      gap: 30px;
      .sectionTopLeft {
        justify-content: center;

        .topLeftChild {
          gap: 20px;
          .img1 {
            width: 300px;
            height: 300px;
          }
          .parent {
            :nth-child(1) {
              font-size: 20px;
            }
            :nth-child(2) {
              font-size: 15px;
            }
          }
        }
      }
      .sectionTopRight {
        justify-content: center;
        .topRightChild {
          gap: 20px;
          .img2 {
            width: 300px;
            height: 300px;
          }
          .parent {
            :nth-child(1) {
              font-size: 20px;
            }
            :nth-child(2) {
              font-size: 15px;
            }
          }
        }
      }
    }
    .sectionBottom {
      flex-direction: column;
      gap: 30px;
      padding-bottom: 50px;
      .sectionBottomLeft {
        order: 6;
        justify-content: center;
        .bottomLeftChild {
          gap: 20px;
          .img3 {
            width: 300px;
            height: 300px;
          }
          .parent {
            :nth-child(1) {
              font-size: 20px;
            }
            :nth-child(2) {
              font-size: 15px;
            }
          }
        }
      }
      .sectionBottomRight {
        order: -4;
        justify-content: center;
        .bottomRightChild {
          gap: 20px;
          .img4 {
            width: 300px;
            height: 300px;
          }
          .parent {
            :nth-child(1) {
              font-size: 20px;
            }
            :nth-child(2) {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

// footer starts here////////////////////////////////////////////////////////////////////////////////////////////////

footer {
  width: 100%;

  background-color: #2f2e2e;
  display: flex;
  justify-content: space-between;
  padding-bottom: 260px;
  .FooterLeft {
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
    .FooterLeftChild {
      // width: 30%;
      display: flex;
      justify-content: start;
      align-items: start;
      padding-top: 30px;
      padding-right: 20px;
      padding-left: 10px;
      p {
        font-family: bodoni moda;
        font-weight: 300;
        color: white;
        width: 120px;
        font-size: 50px;
        font-style: italic;
        line-height: 1;
      }
    }
  }
  .FooterMiddle {
    padding-top: 50px;
    // width: 33%;
    display: flex;
    justify-content: center;
    .FooterMidleChild {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    p {
      font-family: josefin sans;
      font-weight: 200;
      width: 350px;
      color: white;
      font-size: 16px;
    }
  }
  .FooterRight {
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
    padding-top: 105px;
    padding-left: 10px;
    i {
      color: white;
    }
  }
  .arrowup {
    display: none;

    i {
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  footer {
    flex-direction: column;
    padding-bottom: 30px;
    .FooterLeft {
      width: 100%;
      justify-content: center;
      order: -3;
      .FooterLeftChild {
        padding-right: 0px;
        padding-left: 0px;
      }
    }
    .FooterMiddle {
      order: 1;
      padding-top: 30px;
      padding-left: 10px;
      width: 100%;
      justify-content: center;

      .FooterMidleChild {
        gap: 10px;
        line-height: 1.8;
        p {
          font-size: 18px;
        }
        :nth-child(1) {
          width: 300px;
        }
        :nth-child(2) {
          width: 280px;
        }
        :nth-child(3) {
          width: 255px;
        }
      }
    }
    .FooterRight {
      order: -1;
      display: flex;
      justify-content: center;
      width: 100%;
      padding-top: 30px;
      padding-left: 0px;
      gap: 20px;
    }
  }
}

@media screen and (max-width: 700px) {
  footer {
    .arrowup {
      position: fixed;
      right: 15px;
      bottom: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #202a32;
        font-size: 30px;
        color: white;
        border-radius: 50%;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  footer {
    .FooterLeft {
      justify-content: start;
      padding-left: 20px;
    }
    .FooterMiddle {
      justify-content: start;
      padding-left: 20px;
    }
    .FooterRight {
      justify-content: start;
      padding-left: 20px;
    }
  }
}

// footer ends here/////////////////////////////////////////////////////////////////////////////////////////////////////
