* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.active {
  color: gray;
}

header {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  position: fixed;
  z-index: 200;
  top: 0;
}
header .HeaderLeft {
  width: 25%;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}
header .HeaderLeft .Title {
  width: 120px;
  height: 90px;
  border: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}
header .HeaderLeft .Title a {
  font-family: raleway;
  text-align: center;
  font-weight: 200;
  font-size: 25px;
}
header .HeaderRight {
  width: 75%;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .HeaderRight .HeaderRightList {
  height: 125px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  padding-left: 10%;
  padding-right: 20px;
}
header .HeaderRight .HeaderRightList a {
  font-size: 20px;
  font-style: italic;
  transition: 0.5s;
}
header .HeaderRight .HeaderRightList a:hover {
  color: gray;
}
header .HeaderRight #check {
  display: none;
}
header .HeaderRight .Burger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  position: fixed;
  z-index: 990;
  right: 30px;
  top: 55px;
  transition: 1s;
}
header .HeaderRight .Burger .LineB {
  width: 30px;
  height: 3px;
  background-color: black;
  border-radius: 5px;
  transition: 0.5s;
}
header .HeaderRight .Burger .LineB .Line3 {
  transition: 0.5s;
}
header .HeaderRight .HeaderRightList2 {
  display: none;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .HeaderRight .HeaderRightList2 ul {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding-left: 30px;
  padding-bottom: 110px;
  font-style: italic;
  overflow: scroll;
}

@media screen and (max-width: 700px) {
  header {
    position: relative;
  }
  header .HeaderLeft {
    width: 75%;
    padding-left: 40px;
    justify-content: start;
  }
  header .HeaderLeft .Title {
    width: 80px;
    height: 60px;
  }
  header .HeaderLeft .Title a {
    font-size: 16px;
  }
  header .HeaderRight {
    width: 25%;
    padding-right: 30px;
  }
  header .HeaderRight .HeaderRightList {
    display: none;
  }
  header .HeaderRight .Burger {
    position: absolute;
    display: flex;
  }
  header .HeaderRight .HeaderRightList2 {
    display: none;
    width: 90%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
  }
  header .HeaderRight #check {
    display: none;
  }
  header .HeaderRight #check:checked ~ .HeaderRightList2 {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .HeaderRight #check:checked ~ label .Burger .LineB {
    transform: rotate(45deg) translate(5px);
    transition: 0.5s;
  }
  header .HeaderRight #check:checked ~ label .Burger .Line2 {
    transform: rotate(-45deg) translate(5px);
    transition: 0.5s;
  }
  header .HeaderRight #check:checked ~ label .Burger .Line3 {
    display: none;
    transition: 0.5s;
  }
}
main {
  margin-top: 125px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .title {
  width: 940px;
}
main .title p {
  font-size: 60px;
  width: 300px;
}
main .parent {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
main .parent .child {
  width: 300px;
  height: 400px;
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .parent .child .img {
  width: 100%;
  height: 300px;
}
main .parent .child .img1 {
  background-image: url(./images2/11062b_6651f299cf614c5fa18d54acad055f2e~mv2.avif);
}
main .parent .child .img2 {
  background-image: url(./images2/84770f_d6926d70b1374392912a0672f9b58150~mv2.avif);
}
main .parent .child .img3 {
  background-image: url(./images2/d5f2502287ff40488e030c7fdd5fb009.avif);
}
main .parent .child .img4 {
  background-image: url(./images2/e148fdba3ce94e88a7c10ab64dfbe6d1.avif);
}
main .parent .child .img5 {
  background-image: url(./images2/311cb47f360c416b9f5b4a5af098e514.avif);
}
main .parent .child .img6 {
  background-image: url(./images2/4845cc69e480472f9b86295206d96980.avif);
}
main .parent .child .img7 {
  background-image: url(./images2/8cf51b472527424389c82895cf318820.avif);
}
main .parent .child .img8 {
  background-image: url(./images2/c4329be5266249c3aec2262b26a2fa25.avif);
}
main .parent .child .img9 {
  background-image: url(./images2/cd5b640880ce4ca3a1d3ba165d8ee82d.avif);
}

@media screen and (max-width: 1000px) {
  main .title {
    width: 620px;
  }
  main .title p {
    font-size: 50px;
  }
  main .parent {
    width: 650px;
  }
}
footer {
  width: 100%;
  background-color: #2f2e2e;
  display: flex;
  justify-content: space-between;
  padding-bottom: 260px;
}
footer .FooterLeft {
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
}
footer .FooterLeft .FooterLeftChild {
  display: flex;
  justify-content: start;
  align-items: start;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 10px;
}
footer .FooterLeft .FooterLeftChild p {
  font-family: bodoni moda;
  font-weight: 300;
  color: white;
  width: 120px;
  font-size: 50px;
  font-style: italic;
  line-height: 1;
}
footer .FooterMiddle {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
footer .FooterMiddle .FooterMidleChild {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .FooterMiddle p {
  font-family: josefin sans;
  font-weight: 200;
  width: 350px;
  color: white;
  font-size: 16px;
}
footer .FooterRight {
  width: 30%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 20px;
  padding-top: 105px;
  padding-left: 10px;
}
footer .FooterRight i {
  color: white;
}
footer .arrowup {
  display: none;
}
footer .arrowup i {
  display: none;
}

@media screen and (max-width: 800px) {
  footer {
    flex-direction: column;
    padding-bottom: 30px;
  }
  footer .FooterLeft {
    width: 100%;
    justify-content: center;
    order: -3;
  }
  footer .FooterLeft .FooterLeftChild {
    padding-right: 0px;
    padding-left: 0px;
  }
  footer .FooterMiddle {
    order: 1;
    padding-top: 30px;
    padding-left: 10px;
    width: 100%;
    justify-content: center;
  }
  footer .FooterMiddle .FooterMidleChild {
    gap: 10px;
    line-height: 1.8;
  }
  footer .FooterMiddle .FooterMidleChild p {
    font-size: 18px;
  }
  footer .FooterMiddle .FooterMidleChild :nth-child(1) {
    width: 300px;
  }
  footer .FooterMiddle .FooterMidleChild :nth-child(2) {
    width: 280px;
  }
  footer .FooterMiddle .FooterMidleChild :nth-child(3) {
    width: 255px;
  }
  footer .FooterRight {
    order: -1;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    padding-left: 0px;
    gap: 20px;
  }
}
@media screen and (max-width: 700px) {
  main {
    margin-top: 0px;
  }
  footer .arrowup {
    position: fixed;
    right: 15px;
    bottom: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .arrowup i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #202a32;
    font-size: 30px;
    color: white;
    border-radius: 50%;
  }
}
@media screen and (max-width: 450px) {
  footer .FooterLeft {
    justify-content: start;
    padding-left: 20px;
  }
  footer .FooterMiddle {
    justify-content: start;
    padding-left: 20px;
  }
  footer .FooterRight {
    justify-content: start;
    padding-left: 20px;
  }
}/*# sourceMappingURL=style2.css.map */